.data-add {
    /* width:calc(100% - var(--width-left-side-bottom)); */
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededee;
    /* position: fixed;
    bottom: 0; */
  }

.data-add__title {
    padding-left: 20px;
    font-size: var(--font-size-table-title);
}

.data-add__text-field {
    width: 500px;
    margin-top: -8px;
}
.data-add__text-field_discussion {
  width: 400px;
  margin-top: -8px;
}

.data-add__button {
    padding-right: 25px;
}
