/*rows  */
/*filters for colors*/
/*developers colors gradient*/
/*main widths and heights*/
/*
@width-left-side: 230px;
@width-left-side-bottom: 230px;
*/
/*SET VARIABLES*/
:root {
  /*main color scheme*/
  --color-dark: #878788;
  --color-active: #6AA3FB;
  --color-tbl-border: #bababb;
  --color-font-active: #6AA3FB;
  /*fonts*/
  --font-main: "Open Sans";
  --font-description: "Roboto Mono";
  --font-color-disabled: #a1a1a1;

  /*filters for color sheme*/
  --hover-filter: grayscale(0) opacity(1);
  --hover-filter-standart: grayscale(0) opacity(1);
  --hover-filter-red: invert(0.5) sepia(0.5) saturate(150);
  --hover-filter-blue: invert(0.5) sepia(0.5) saturate(150) hue-rotate(-180deg) contrast(6.5);

  --icons-filter: grayscale(1) opacity(0.5);
  --icons-filter-standart: opacity(0.5);
  --icons-filter-red: invert(0.5) sepia(0.5) saturate(150) opacity(0.65);
  --icons-filter-blue: invert(0.5) sepia(0.5) saturate(150) hue-rotate(-180deg) contrast(6.5) brightness(1.9) opacity(0.8);
}
@media only screen and (max-width: 1400px) {
  :root {
    --font-size-table: 12px !important;
    --width-left-side: 185px;
    --width-left-side-bottom: 185px;
  }
}
@media only screen and (min-width: 1400px) {
  :root {
    --font-size-table: 14px !important;
    --width-left-side: 230px;
    --width-left-side-bottom: 230px;
  }
}
body {
  background-color: #FEFEFE;
  margin: 5px;
  font-family: "Open Sans";
  font-size: 11px;
  color: #5C5C5C;
}
/*icons*/
.icn_zoom {
  content: url("./img/icons/zoomIcon.svg");
	width: 24px;
  vertical-align: middle;
  cursor: pointer;
  object-fit: contain;
}

.icn_youtube {
  content: url("./img/icons/youtubeIcon.svg");
	width: 30px;
  vertical-align: middle;
  cursor: pointer;
  object-fit: contain;
}

.icn:hover,
.icn_ok:hover,
.icn_cancel:hover,
.icn_arrow_left_fill:hover,
.icn_arrow_right_fill:hover,
.icn_tasks_add:hover,
.icn_tasks_edit:hover,
.icn_tasks_delete:hover,
.icn_tasks_complete:hover,
.icn_tasks_daily:hover,
.icn_print:hover,
.icn_options:hover,
.icn_filter:hover,
.icn_filterOff:hover,
.icn_comment:hover,
.icn_zoom:hover,
.icn_youtube:hover {
  /* filter: grayscale(0) opacity(1); */
  filter: var(--hover-filter);
}

.icn {
  /* filter: grayscale(1) opacity(0.5); */
	filter: var(--icons-filter);
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

/*tasks colors*/
.task {
  /*&_good	{ background-color: spin(@color-tasks-red, 240); }*/
}
.task_bad {
  background-color: #FFC4C2;
}
.task_alert {
  background-color: #fdffc2;
}
.task_good {
  background-color: #c2ffc4;
}
.task_noresult {
  background-color: #FFECEB;
}
/*alert tips colors*/
.alertFail {
  background-color: #f50057 !important;
}
.alertWarn {
  color: black !important;
  background-color: #f59e00 !important;
}
.alertSuccess {
  color: black !important;
  background-color: #57f500 !important;
}
.divBottom {
  height: calc(100% - 70px);
}
/* .tab {
  min-width: 50px !important;
  height: 40px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
} */
/*MAIN DATA PART*/
.divSpacingBottom {
  width: 0px;
  height: 100%;
  display: flex;
}

.dialog-edit {
  overflow-y: auto !important;
  min-height: 650px !important;
}

.dialog-linked-data {
  overflow: visible !important;
}

/* -------------------------------------- */
/* -------------------------------------- */
.MuiButton-outlinedPrimary:hover {
  background-color: #0551c7 !important;
  color: white !important;
}

.MuiButton-outlinedSecondary:hover {
  background-color: #f50057 !important;
  color: white !important;
}

.MuiTabs-root {
  min-height: unset !important;
}

.MuiTabs-flexContainer {
  height: 35px;
  align-items: center;
}

.MuiDialog-paperWidthSm {
  max-width: 700px !important;
  /* overflow-y: scroll !important; */
}

.MuiTablePagination-spacer {
  flex: unset !important;
}
.MuiTablePagination-caption {
  font-size: var(--font-size-table) !important;
}
.MuiTab-textColorPrimary {
  color: #000000 !important;
}
.MuiTab-textColorPrimary.Mui-disabled {
  color: #a1a1a1 !important;
}
.MuiFormControl-marginNormal {
  margin-top: 0px !important;
}
/* full calendar */
td.fc-daygrid-day.fc-day.fc-day-mon.fc-day-past.fc-day-other,
td.fc-daygrid-day.fc-day.fc-day-tue.fc-day-past.fc-day-other,
td.fc-daygrid-day.fc-day.fc-day-wen.fc-day-past.fc-day-other,
td.fc-daygrid-day.fc-day.fc-day-thu.fc-day-past.fc-day-other,
td.fc-daygrid-day.fc-day.fc-day-fri.fc-day-past.fc-day-other,
td.fc-daygrid-day.fc-day.fc-day-sat.fc-day-past.fc-day-other,
td.fc-daygrid-day.fc-day.fc-day-sun.fc-day-past.fc-day-other {
  height: 16.6%;
}

.fc.fc-media-screen {
  min-height: calc(100vh - 470px);
  height: 100%;
}

.fc .fc-daygrid-body {
  width: 100% !important;
}

.fc-header-toolbar {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  background-color: #ededee;
  height: 48px;
}

.fc-scrollgrid-section-header > .fc-scroller {
  overflow: unset !important;
}
.fc-view-harness {
  padding-bottom: 0px !important;
}

.fc-scrollgrid-sync-table {
  height: 0px;
}
.fc-daygrid-day-top {
  font-size: 22px !important;
}
.fc-event-title,
.fc-event-time {
  font-size: 12px !important;
}

@media screen and (max-width: 768px) {
  .fc-toolbar-title {
    font-size: 14px !important;
  }

  .fc-button {
    font-size: 10px !important;
    padding: 0.4em 0.4em !important;
  }

  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: 0 !important;
  }
}
/* material-ui dialog - fix of not displaying top of Select */
.MuiDialogContent-root {
  overflow: visible !important;
}
/* .dialog-select .MuiDialog-paper {
  overflow-y: scroll !important;
} */
/* .MuiDialog-paper {
  overflow-y: visible !important;;
} */
.DragHandle {
  flex: 0 0 16px;
  z-index: 2;
  cursor: col-resize;
  color: #3884fa;
  margin-right: 10px;
  margin-left: -12px;
}
.DragHandleActive,
.DragHandleActive:hover {
  color: #065be0;
  z-index: 3;
}
.DragHandle:hover {
  background-color: #e1e1e1;
}
