.data-table__loading {
  text-align: center;
  padding-top: 200px;
}

.data-table__header-row {
  height: 36px;
  position: static;
  background-color: var(--color-light);
}

.data-table__header-cell {
  font-size: 14px !important;
  white-space: nowrap;
  background-color: #ededee;
}

.data-table__header-cell:first-child{
  padding-left: 10px;
}

.data-table__table {
  table-layout: fixed;
  font-size: var(--font-size-table) !important;
}

.data-table__row-title {
  font-size: var(--font-size-table) !important;
}

.data-table__row-title_right {
  text-align: right !important;
  font-size: var(--font-size-table) !important;
}

.data-table__row-title_copy-week-discussion {
  display: flex !important;
  justify-content: center !important;
}

.data-table__pagination {
  width: 500px;
  height: 25px;
  min-height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  margin-left: calc(100% - 500px - 265px);
  font-size: var(--font-size-table);
}

.data-table__pagination-cell {
  top: 36px !important;
  background-color: #FEFEFE;
}

.data-table__pagination-actions {
  width: 350px;
  text-align: end;
}

.data-table__pagination-button {
  display: inline-block;
  vertical-align: middle;
}

.data-table__pagination-toolbar {
  min-height: 25px !important;
}

.data-table__pagination-select {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.data-table__cell-text {
  width: calc(100% - 40px);
}

.data-table__cell-inline-edit {
  width: 40px;
  justify-content: center;
}

.data-table__cell-edit-buttons {
  align-items: center;
  display: flex;
}

.data-table__cell-edit-buttons > button:nth-child(2) {
  margin-left: 5px;
}

.data-table__cell-fulltext {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  width: calc(100% - 10px);
}

.data-table__cell-fulltext-value {
  width: calc(100% - 100px);
}

.data-table__row-fulltext {
  white-space: pre-wrap;
  font-size: var(--font-size-table);
}

.data-table__row-secondarylist {
  padding-left: 40px;
  font-size: var(--font-size-table);
  white-space: pre;
}

.data-table__row-secondarylist-hide {
  padding: 0px;
}

.data-table__cell-multiselect {
  white-Space: pre-wrap;
}

/* show icons on row hover */
tr.data-table__row td.data-table__cell .data-table__hover-icon {
  display: none;
}

tr.data-table__row:hover td.data-table__cell .data-table__hover-icon {
  display: flex;
}
